* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial;
}

input {
    text-align: left;
    direction: ltr;
}

button{
    margin: 0;
    padding: 0.1rem 0.1rem;
	border: 1;
}

/* ส่วนheader */
header {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    font-family : Arial ;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

body{
    background-color: #f5f7fb;
}


/*ส่วนบน*/
.moviesection {
    height: 300px;
    background-color: #fff;
}


.info{
    float: right;
    padding-top: 100px;
    padding-right: 500px;
    font-family: Arial;
    font-size: large;
    text-align: center;

    color: #000000;
    /* background-color: red; */
    width: 545px;
    height: 500x;
}

.poster{
    padding-top: 50x;
    float: left;
    width: 545px;
    height: 500px;
    /* background-color: red; */
}

